################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleParcerias/.vs/ControleParcerias/v16
/.vs/TesteFiap/v16
/ControleParcerias/ControleParcerias/bin
/ControleParcerias/packages
/ControleParcerias/ControleParcerias/obj/Debug
/.vs/VSWorkspaceState.json
/ControleParcerias/ControleParceriasBusinness/bin/Debug
/ControleParcerias/ControleParceriasBusinness/obj/Debug
/ControleParcerias/ControleParceriasData/bin/Debug
/ControleParcerias/ControleParceriasData/obj/Debug/ControleParceriasData.csproj.CopyComplete
/ControleParcerias/ControleParceriasData/obj/Debug/ControleParceriasData.csproj.FileListAbsolute.txt
/ControleParcerias/ControleParceriasData/obj/Debug/ControleParceriasData.csprojAssemblyReference.cache
/ControleParcerias/ControleParceriasData/obj/Debug/ControleParceriasData.dll
/ControleParcerias/ControleParceriasData/obj/Debug/ControleParceriasData.pdb
/ControleParcerias/ControleParceriasModel/bin/Debug
/ControleParcerias/ControleParceriasModel/obj/Debug
/ControleParcerias/ParceriaAPI/bin
