################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleParcerias/.vs/ControleParcerias/v16
/.vs/TesteFiap/v16
/ControleParcerias/ControleParcerias/bin
/ControleParcerias/packages
/ControleParcerias/ControleParcerias/obj/Debug
/.vs/VSWorkspaceState.json
